In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('RegistrationDetails.csv', encoding = 'ISO-8859-1')

Without encoding, we get
> 'utf-8' codec can't decode byte 0xe9 in position 301: invalid continuation byte

Follow <https://stackoverflow.com/questions/19699367/for-line-in-results-in-unicodedecodeerror-utf-8-codec-cant-decode-byte>

In [3]:
df.head()

,CandidateCode,UniversityName,UniversityCountry,PreviousQEISessionName,PreviousQEISessionStanding
0,1195124581,Ebonyi State University College of Health Scie...,NIGERIA,NaN,NaN
1,1363874476,University of Kordofan Faculty of Medicine and...,SUDAN,MCCQE Part I April 2018,Fail
2,1083906462,Université de Montréal Faculté de Médecine,CANADA,NaN,NaN
3,1263087594,University of Notre Dame Australia School of M...,AUSTRALIA,NaN,NaN
4,1050338045,Rawalpindi Medical University,PAKISTAN,NaN,NaN

In [4]:
df.shape

(5470, 5)

In [5]:
df.CandidateCode.is_unique

False

In [6]:
df_dups = df[df.CandidateCode.duplicated()]

In [7]:
df[df.CandidateCode == 2011955884]

,CandidateCode,UniversityName,UniversityCountry,PreviousQEISessionName,PreviousQEISessionStanding
524,2011955884,Saint James School of Medicine St. Vincent and...,BONAIRE,MCCQE Part I Fall 2015,Fail
525,2011955884,Saint James School of Medicine St. Vincent and...,BONAIRE,MCCQE Part I Fall 2015,Fail

In [8]:
df_nodups = df.drop_duplicates()

In [9]:
df_nodups.CandidateCode.is_unique

True

In [10]:
df_nodups.shape

(5449, 5)

The above shows that while there are duplicate CandidateCodes, the rows are themselves duplicates.

In [11]:
df_clean = df_nodups.set_index('CandidateCode')

In [12]:
df_clean.head()

,UniversityName,UniversityCountry,PreviousQEISessionName,PreviousQEISessionStanding
CandidateCode,,,,
1195124581,Ebonyi State University College of Health Scie...,NIGERIA,NaN,NaN
1363874476,University of Kordofan Faculty of Medicine and...,SUDAN,MCCQE Part I April 2018,Fail
1083906462,Université de Montréal Faculté de Médecine,CANADA,NaN,NaN
1263087594,University of Notre Dame Australia School of M...,AUSTRALIA,NaN,NaN
1050338045,Rawalpindi Medical University,PAKISTAN,NaN,NaN

In [13]:
df_clean.shape

(5449, 4)

This is now cleaned adequately.

In [14]:
part1results_raw = pd.read_excel('part1results.xlsx')

In [15]:
part1results_raw.shape

(925, 3)

In [16]:
part1results = pd.read_excel('part1results.xlsx', index_col=0)

In [17]:
part1results.shape

(925, 2)

This establishes there are no duplicate candidate codes in part1results

In [18]:
part1results.head()

               total_score status
candidatecode
9660770                198   FAIL
200074596              215   FAIL
200076561              212   FAIL
1004201051             225   FAIL
1012984535             241   PASS

In [19]:
df_clean['Total_Score'] = part1results.total_score

In [20]:
df_clean['Status'] = part1results.status

In [21]:
df_clean.Status.head()

CandidateCode
1195124581     NaN
1363874476    PASS
1083906462     NaN
1263087594     NaN
1050338045     NaN
Name: Status, dtype: object

In [22]:
df_clean.shape

(5449, 6)

In [23]:
pd.notnull(df_clean.Status).head()

CandidateCode
1195124581    False
1363874476     True
1083906462    False
1263087594    False
1050338045    False
Name: Status, dtype: bool

In [24]:
df_may = df_clean[pd.notnull(df_clean.Status)]

In [25]:
df_may.shape

(925, 6)

In [26]:
df_CA = df_may[df_may.UniversityCountry.isin(['CANADA'])]

In [27]:
num_CA = len(df_CA.index)

In [28]:
df_USA = df_may[df_may.UniversityCountry.isin(['USA'])]

In [29]:
num_USA = len(df_USA.index)

In [30]:
df_INTERNATIONAL = df_may[(~df_may.UniversityCountry.isin(['CANADA','USA'])) & (pd.notna(df_may.UniversityCountry))]

In [31]:
num_INTERNATIONAL = len(df_INTERNATIONAL.index)

In [32]:
df_NOCOUNTRY = df_may[pd.isna(df_may.UniversityCountry)]

In [33]:
num_NOCOUNTRY = len(df_NOCOUNTRY.index)

In [34]:
import numpy as np

In [35]:
passquantity_CA = np.sum(np.array([df_CA.Status == 'PASS']))

In [36]:
passrate_CA = np.mean(np.array([df_CA.Status == 'PASS']))

In [37]:
passquantity_USA = np.sum(np.array([df_USA.Status == 'PASS']))

In [38]:
passrate_USA = np.mean(np.array([df_USA.Status == 'PASS']))

In [39]:
passquantity_INTERNATIONAL = np.sum(np.array([df_INTERNATIONAL.Status == 'PASS']))

In [40]:
passrate_INTERNATIONAL = np.mean(np.array([df_INTERNATIONAL.Status == 'PASS']))

In [41]:
passquantity_NOCOUNTRY = np.sum(np.array([df_NOCOUNTRY.Status == 'PASS']))

In [42]:
passrate_NOCOUNTRY = np.mean(np.array([df_NOCOUNTRY.Status == 'PASS']))

In [43]:
passquantity_CA

33

In [44]:
passrate_CA

0.7674418604651163

In [45]:
percent_CA = int(passrate_CA * 100)

In [46]:
percent_CA

76

In [47]:
passquantity_USA

7

In [48]:
passrate_USA

0.875

In [49]:
percent_USA = int(passrate_USA * 100)

In [50]:
passquantity_INTERNATIONAL

386

In [51]:
passrate_INTERNATIONAL

0.45093457943925236

In [52]:
percent_INTERNATIONAL = int(passrate_INTERNATIONAL * 100)

In [53]:
passquantity_NOCOUNTRY

3

In [54]:
passrate_NOCOUNTRY

0.16666666666666666

In [55]:
percent_NOCOUNTRY = int(passrate_NOCOUNTRY * 100)

In [56]:
pass_table = pd.DataFrame([['Canada', num_CA, percent_CA],
                           ['USA', num_USA, percent_USA],
                          ['International', num_INTERNATIONAL, percent_INTERNATIONAL],
                          ['Missing Country', num_NOCOUNTRY, percent_NOCOUNTRY]],
                         columns=['Medical School Country', 'Number of Candidates', 'Percentage of Candidates who passed the exam'])

In [57]:
pass_table

,Medical School Country,Number of Candidates,Percentage of Candidates who passed the exam
0,Canada,43,76
1,USA,8,87
2,International,856,45
3,Missing Country,18,16